@using Lab2_MVC_Resto_Frontend.Models.ViewModels
@model MealAddVM
@{
    Layout = "_LayoutIFrame";
}
@section metadata {
    <meta name="description" content="Form when admin can add a meal to restaurant's menu.">
}


@if (ViewData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @ViewData["ErrorMessage"]
    </div>
}
else {
<section id="form-add-meal">
    @* flytta style härifrån när det funkar! *@
    @* @Html.ActionLink("Add", "Menu", "AddMeal") *@
    @using (Html.BeginForm("AddMeal", "Menu", FormMethod.Post, new { @class = "needs-validation row g-3", novalidate = "true" }))
    {
        @* Name *@
        @Html.LabelFor(model => model.Name)
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)

        @* Description *@
        @Html.LabelFor(model => model.Description)
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)

        @* Price *@
        @Html.LabelFor(model => model.Price)
        @Html.EditorFor(model => model.Price)
        @Html.ValidationMessageFor(model => model.Price)

        @* IsAvailable *@
        @Html.LabelFor(model => model.IsAvailable)
        @Html.EditorFor(model => model.IsAvailable)
        @Html.ValidationMessageFor(model => model.IsAvailable)

        @* FK_MealCategoryId via MealCategoryName *@
        @Html.LabelFor(model => model.FK_MealCategoryId)
        @Html.DropDownListFor(model => model.FK_MealCategoryId, (SelectList)ViewBag.Categories)

        @* @Html.ValidationSummary() *@

        <button type="submit">Add</button>
        <button type="button" id="buttonCancel">Cancel</button>
    }
</section>
}

<script>
    const buttonAddMeal = document.getElementById("button-add-meal")
    const formAddMeal = document.getElementById("form-add-meal")
    const buttonCancelAdd = document.getElementById("buttonCancel")
    const form = document.querySelector("form")

    if (buttonCancel) {
        buttonCancel.addEventListener("click",
            (c) => {
                history.back(); //den backar dock bara till tex form med invalid om det var senast,kanske bättre med länk
            });
    }

</script>