@using Lab2_MVC_Resto_Frontend.Models.ViewModels

@model List<MealDetailVM>
@{
    Layout = "_LayoutIFrame";
    int counter = 0;
}

<section id="meal-add">
    @{
        if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
            TempData["SuccessMessage"] = null;
        }
        else if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
            TempData["ErrorMessage"] = null;
        }
    }
    <a asp-controller="Menu" asp-action="AddMeal" class="btn btn-primary">
        Add a new meal
    </a>
</section>


<section class="table-responsive">

    <table class="table table-hover caption-top">

        <caption>List of meals</caption>
        <thead class="table-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col" id="table-head-meal">Meal <i class="fa-solid fa-sort"></i></th>
                <th scope="col" id="table-head-price">Price <i class="fa-solid fa-sort"></i></th>
                <th scope="col" id="table-head-available">Available? <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Description</th>
                <th scope="col" id="table-head-category">Category <i class="fa-solid fa-sort"></i></th>
                <th scope="col">Edit or remove</th>
            </tr>
        </thead>
        <tbody id="table-body">
            @foreach (var meal in Model)
            {
                counter++;
                <tr>
                    <td>@counter</td>
                    <td>@meal.Name</td>
                    <td>@meal.Price</td>
                    <td>
                        <input type="checkbox" disabled="disabled" @(meal.IsAvailable ? "checked" : "") />
                    </td>
                    <td>@meal.Description</td>
                    <td>@meal.MealCategoryName</td>
                    <td>
                        <a asp-controller="Menu" asp-action="EditMeal" asp-route-mealId=@meal.Id aria-label="Edit meal">
                            <i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a href=@Url.Action("RemoveMeal","Menu",new { mealId = meal.Id }) aria-label="Remove meal">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</section>

@* <script>
// fixa sortering!
    // när sida laddas spara data i en Js-variabel
    // add event listener on click på kolumner


    // skriva ut ny tabell
    let counter = 0;
    const tableBody = document.getElementById("table-body");
    tableBody.innerHTML = '';
    meals.forEach(meal => {
        counter++;
        const mealHtml = ' <tr>
            < td > counter</td>
                        <td>meal.Name</td>
                    <td>meal.Price</td>
                        <td>
                        <input type="checkbox" disabled="disabled" meal.IsAvailable ? "checked" : "") />
                        </td>
                    <td>meal.Description</td>
                    <td>meal.MealCategoryName</td>
                        <td>
                        <a asp-controller="Menu" asp-action="EditMeal" asp-route-id={meal.Id} aria-label="Edit meal">
                            edit<i class="fa-solid fa-pen-to-square"></i>
                        </a>
                        <a asp-controller="Menu" asp-action="RemoveMeal" asp-route-id={meal.Id} aria-label="Remove meal">
                            remove<i class="fa-solid fa-trash-can"></i>
                    </a>
                     </td >
                </tr > ';
        tableBody.innerHTML += mealHtml;
    })
</script> *@